<h3 class="center-align">Click a Billboard to view Songs</h3>
<%= link_to 'Create a new Billboard', new_billboard_chart_path, class: 'waves-effect waves-light btn #00695c teal darken-3' %>
<!-- <ul>
  <% @billboard_chart.each do |billboard_chart| %>
    <li>
      <%= link_to billboard_chart.name, billboard_chart_path(billboard_chart) %>
    </li>
  <% end %>
</ul>
<hr> -->

<ul class="collapsible z-depth-2" data-collapsible="accordion">
  <% @billboard_chart.each do |billboard_chart| %>
    <li>
      <div class="collapsible-header hoverable"><%= billboard_chart.name %></div>
      <div class="collapsible-body"><span>
        <ol>
          <% billboard_chart.songs.each do |song| %>
          <li><%= song.name %></li>
          <% end %>
        </ol>
        <br>
        <%= link_to 'Go to Billboard', billboard_chart_path(billboard_chart), class: 'waves-effect waves-light btn #00695c teal darken-3' %>
      </span></div>
    </li>
  <% end %>
</ul>

<%= link_to 'Home', root_path, class: 'waves-effect waves-light btn #00695c teal darken-3'%>
