<h1><%= @billboard_chart.name %></h1>
<ol>
<% @billboard_chart.songs.each do |song| %>
    <li><%= link_to song.name, artist_song_path(song.artist_id, song) %> -
      <%= link_to song.artist.name, artist_path(song.artist_id) %></li>
<% end %>
</ol>

<%= link_to 'Edit Billboard', edit_billboard_chart_path(@billboard_chart), class: 'waves-effect waves-light btn' %>
<%= link_to 'Delete Billboard', billboard_chart_path(@billboard_chart), method: :delete, class: 'waves-effect waves-light btn' %>
<%= link_to 'Back to Billboards', billboard_charts_path, class: 'waves-effect waves-light btn' %>
