
<h3 class="center-align">Click on an Artist to view their songs</h3>
<%= link_to 'Create a new Artist', new_artist_path, class: 'waves-effect waves-light btn #00695c teal darken-3' %>

<ul class="collapsible z-depth-2" data-collapsible="accordion">
  <% @artist.each do |artist| %>
    <li>
      <div class="collapsible-header hoverable"><%= artist.name %></div>
      <div class="collapsible-body"><span>
        <ul>
          <% artist.songs.each do |song| %>
          <li><%= song.name %></li>
          <% end %>
        </ul>
        <br>
        <%= link_to 'Go to Artist', artist_path(artist), class: 'waves-effect waves-light btn #00695c teal darken-3' %>
      </span></div>
    </li>
  <% end %>
</ul>

<%= link_to 'Home', root_path, class: 'waves-effect waves-light btn #00695c teal darken-3'%>
