<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<hr>
<%= form_for [@artist, @song] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br>
  <%= f.label :genre %>
  <%= f.text_field :genre, required: true %>
  <br>
  <%= f.collection_select :billboard_chart_id, BillboardChart.order(:name),:id,:name, include_blank: true %>
  <br>
  <%= f.submit %>
<% end %>
