<h1><%= @song.name %></h1>
<hr>
<h3>Artist: <%= @artist.name %></h3>
<h3>Genre: <%= @song.genre %></h3>
<h3>Billboard: <%= @song.billboard_chart.name %></h3>
<hr>
<%= link_to 'Edit Song', edit_artist_song_path(@artist, @song) %>
<%= link_to 'Delete Song', artist_song_path(@artist, @song), method: :delete %>
<%= link_to 'Back to Artist', artist_path(@artist) %>
